<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zp.mall.mapper.ItemCustomMapper">
    <!--商品查询的sql片段
        建议以单表为单位
    -->
    <sql id="query_items_where">
        <if test="itemCustom != null">
            <if test="itemCustom.name != null and itemCustom.name != ''">
                and name like '%${itemCustom.name}%'
            </if>
            <if test="itemCustom.id != null">
                and id=#{itemCustom.id}
            </if>
        </if>
    </sql>

    <!--根据条件查询-->
    <select id="findItemsList" parameterType="ItemsQueryVo" resultType="ItemCustom">
        select name, price, detail from item
        <where>
            <include refid="query_items_where"/>
        </where>
    </select>
</mapper>